:root {
    --primary-color: #dd3a3a;
    --neutral-color: 12 12 12;
    --wrapping-width: 1420px;

}

* {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

html {
    height: 100%;
}

:root {
    --text-color: #e8e8e8;
}

* {
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    background-color: #121212;
    font-family: "Inria Sans", sans-serif;

    font-optical-sizing: auto;
    font-size: 16px;
    color: #000;
    /* background-image: url(./background.png); */

    scroll-behavior: smooth;
    
    line-height: 17px !important;
}

body.lock-scrollbar {
    overflow-y: hidden  !important;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.flex-grow {
    flex-grow: 1;
}

.dflex {
    display: flex;
}

.row-dir {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.grow {
    flex-grow: 1;
}

.justify-right {
    justify-content: right;
}

.justify-between {
    justify-content: space-between;
}

.no-mb {
    margin-bottom: 0;
}

.br-3 {
    border-right: 6px solid #121212;
}

.vertical-sep {
    height: 8px;
}

.horizontal-sep {
    width: 8px;
}

.horizontal-sep-2 {
    width: 8px;
}

.over {
  
}

.over.show {
    display: flex;
}

.over .overlay {
    background-color: #1a1a1a;
    z-index: 999;
    border-radius: 1px;
    padding: 33px 8px 8px 8px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid rgba(0, 0, 0, .5);
    border-top: 1px solid #242424;
}

.over .overlay .new {

    margin: 5px;
}

.over .overlay .new.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.over .overlay .new.image .img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #e7e7e7;
    margin-bottom: 10px;
}

.over .overlay .new.title-container {

    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.over .overlay .new.title-container .title {
    font-size: 24px;
    color: #d3d3d3;
    text-transform: uppercase;
    font-weight: 400;
}

.over .overlay .new.title-container .info {
    display: flex;
}

.over .overlay .new.title-container .info div {
    margin: 13px 2px 2px 2px;
    color: #757575;
    font-size: 14px;
}

.over .overlay .new.desc {
    height: 60%;
    max-height: 60%;
    overflow-y: auto;
    background: #101010;
    color: #c1c1c1;
    padding: 13px 15px;
    border-radius: 3px;
    margin-bottom: 18px;
    line-height: 20px;
}

.main-content {
    width: 1324px;
    margin: 4px auto 10px auto;
    /* padding-bottom: 60px; */
    font-size: 1em;
    margin-bottom: 60px;

    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;
}

.container-box {
    padding-bottom: 5px;
    /*padding: 10px;*/
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    background-image: url('./listen-live-slogan.png');
    /* border-radius: 50%; */
    transform: translate(-50%, -50%) scale(2.4);
}

.slogan-image {
    background-image: url('./listen-live-slogan.png');
    height: 50px;
    width: 260px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logo .logo-img {
    background-image: url(./logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center 19px;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    /* border-radius: 50%; */
    box-shadow: 0 0 20px rgb(0 0 0 / .2);
}

nav {
    position: relative;
    /* padding: 2px 10px; */
    font-size: 17px;
    /* width: 617px; */
    /* box-shadow: inset 0 0px 4px rgb(0 0 0 / .2); */
    /* margin-bottom: 6px; */
    /* border-top: 1px solid #dfdfdf; */
}

nav .item {
    position: relative;
    padding: 16px 26px 16px 26px;
    cursor: pointer;
}

nav .item a {
    transition: color 150ms ease-in-out;
}

.feed-end {
    padding: 10px 0;
}

nav .item.active .selection-bar {
    bottom: 0;
}

nav .item.active a {
    /*color: #1e1e1e;*/
    color: var(--primary-color);
    font-weight: 600;
}

nav .item:hover a {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    text-wrap: nowrap;
}

nav .item:not(.active):hover {
    background-color: #00000014;
}


.selection-bar {
    position: absolute;
    display: none;
    left: 0;
    bottom: -10px;
    width: 100%;
    background: var(--primary-color);
    height: 3px;
    border-top-left-radius: 1px;
    transition: bottom 200ms ease-in-out;
    border-top-right-radius: 1px;
}

section.news-section {
    padding: 14px 18px 0 18px;
}

.news-list.small-news {

}

.news-list .news-item {
    width: 50%;
    cursor: pointer;
}

.news-list .news-item, .news-item-small {
    position: relative;
}

.news-image, .news-image-place {
    position: relative;
    width: 100%;
    height: 309px;
    background: #0c0c0c;
    overflow: hidden;
    cursor: pointer;
}

.news-image-place {
    background: #181818;
}

.text-title-place {
    padding: 12px 0;
    background: #181818;
    width: 60%;
}

.text-date-place {
    padding: 9px 0;
    background: #181818;
    width: 30%;
}

.news-image img, .news-image-place img {
    transition: transform 100ms ease-in-out;
}

.news-image:hover img {
/*    transform: scale(1.04); */
}

.news-item:hover .text-container .text-title, .news-item-small:hover .text-container .text-title {
    text-decoration: underline;
}

.news-image:hover::after {
    background: linear-gradient(0deg, #00000091 30%, transparent);
}

.news-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #00000091 20%, transparent);   
}

.news-item-small {
    width: 100%;
    background-color: inherit;
}

.news-item-small .news-image {
    height: 244px;

    padding: 0;
    /*background: #E4E6E9;*/
}

h1 {
    font-size: 21px;
    font-weight: 600;
    color: #e5e5e5;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.news-section h1 {
    text-align: center;
}


.banner {
    position: relative;

    background: url(./banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 344px;
    overflow: hidden;
    /* padding: 0 8px; */
    background-color: #fff;
}

.text-roller {
    padding: 10px 0;
    background: #fff;
}

.content-shadow {
    /*box-shadow: 0 0 9px 0 rgb(0 0 0 / 78%);*/
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-container {
    color: #0e0e0e;
    padding: 10px 0;
    width: 100%;
    transition: padding-bottom 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-top: 2px solid #000000;
    /*box-shadow: 0 -4px 7px rgb(0 0 0 / 40%);*/

    min-height: 91px;
}

.text-container.initial-display {
    border-top: 2px solid #181818;
}

.text-md {
    font-size: 16px;
}

.text-title, .text-date {
    padding: 0;
}

.text-title {
    /* background: rgb(0 0 0); */
    /* backdrop-filter: blur(2px); */
    border-radius: 6px;
    /* margin: 0 auto; */
    width: fit-content;
    color: #d0d0d0;
    font-weight: 500;
    /* min-height: 44px; */
    max-height: 44px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
}

.follow-us-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.follow-us-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 6px;
}

.text-date {
    font-size: 12px;
    color: #868686;
    font-weight: 500;
}

.icon {
    width: 32px;
    height: 32px;
    background-color: #E4E6E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: 50%;
    height: 50%;
}

.header-section {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    background: #121212;
    /* border-top: 3px solid #ffffff; */
    padding: 8px 12px;
    
    overflow: hidden;
    border-bottom: 3px solid #fff;
    box-shadow: 0 7px 43px rgba(0, 0, 0, .2);
}

.header-wrapper {
    width: var(--wrapping-width);
    margin: 0 auto;
}

.header-item {
    width: 33.333333333%;
}

.slogan {

}

.sn-wrapper {
    padding: 10px 10px;
}

.logo-text {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    /* filter: drop-shadow(-2px -1px 0px black); */
    /* text-shadow: 19px -7px rgb(0 0 0 / .2); */
    font-weight: 400;
    letter-spacing: 0px;
    /* text-decoration: underline; */
    font-weight: 600;
}

.line-separator {
    margin: 2px 0 18px 0;
    height: 1px;
}

.line-separator-even {
    margin: 10px 0 10px 0;
    height: 1px;
    background: #d9d9d9;
}

.v-separator-even-3  {
    margin: 3px 0;
}

.pr-3 {
    padding-right: 6px;
}

.loader-spinner {
    width: 32px;
    margin: 8px auto 10px auto;
}

.plain-feed-text {
    color: #000000d4;
    padding: 0 10px 8px 10px;
    font-size: 15px;
}

.small-news.initial-display.news-list .news-image {
    background-color: #181818;
}

.small-news.news-list .text-container {
    border-top: none;
}

.small-news.initial-display.news-list .news-image::after {
    display: none;
}

.f-wrap {
    flex-wrap: wrap;
}

.podcast .initial-display {
    min-height: 60px!important;
}

.s-icons svg {
    fill: rgb(0 0 0 / 80%);
    width: 50%;
}

.radio-space {
    padding: 10px 10px;
    margin-bottom: 2px;
    background: #fff;
    display: none;
}

.playback {
    width: 300px;
    height: 60px;
    background: #f3f3f3;
    border-radius: 3px;
    position: relative;       
}

.brand-section {
    text-align: center;
    background: #1a1a1a;
    color: #ffffff;
    padding: 10px 0;
    font-weight: 300;
    text-shadow: 0 0 15px black;
    font-size: 14px;
}

/* flex-lib */

.flex {
    display: flex;
}

.flex.f-row {
    flex-direction: row;
}

.flex.space-even {
    justify-content: space-evenly;
}


.flex.around {
    justify-content: space-around;
}

.flex.space-between {
    justify-content: space-between;
}

.footer-wrapper {
    width: 1320px;
    margin: 0 auto;
}

.footer-big-section {
    background-color: #3f3f3f;
}


.footer-big-section h2 {
    color: #fff;
    font-weight: 600;
}

.t-bold {
    font-weight: 500;
}

.footer .nav-item {
    padding:5px 14px;
}

.footer .nav-item a {
    color: #fff !important;
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
}

@keyframes fadeInOut {
    0% { opacity: .2; }
    50% { opacity: 1; }
    100% { opacity: .2; }
}

@keyframes fadeInOutLight {
    0% { opacity: .5; }
    50% { opacity: 1; }
    100% { opacity: .5; }
}

@keyframes bgAnimation {
    0% {
        background-color: #f5252562;
    }

    50% {
        background-color: #F52525;
    }

    100% {
        background-color: #f5252562;
    }
}

.news-list.initial-display .--ni {
    opacity: .2;
    animation: fadeInOut 2s infinite;
}

.loading-widget {
    width: 44px;
    margin: 0 auto;
    padding: 20px 0;
}

.no-feeds-textwrapper {
    padding: 14px 0;
    color: #d1d1d1;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.no-feeds-text {

}

.mb-mid {
    margin-bottom: 26px;
}

* {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

@media screen and (max-width: 600px) {
    .news-item-small {
        width: 100%;
    }
}
.nav-bar {
}

.nav-bar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
.nav-bar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.nav-bar::-webkit-scrollbar-thumb {
    background: #b5b5b5; 
}

/* Handle on hover */
.nav-bar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* slider */

.image-slider {
    overflow: hidden;
    margin-top: 74px;
    --factor: 5.5;
    --base-size: 100px;
}

.image-slider-item {
    position: relative;
    width: calc(var(--base-size)* var(--factor));
    height: calc(var(--base-size)* var(--factor));
    /* background: red; */
    margin-right: 6px;
    flex-shrink: 0;
}

.image-slider-item::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 28%;
    background: linear-gradient(180deg, #000000c2, transparent);
}

.image-slider-item::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28%;
    background: linear-gradient(0, #000000c2, transparent);
}

.image-slider-align {
    display: flex;
    flex-direction: row;
}

.about-us-container {
    width: 720px;
    margin: 0 auto;
}

.about-us-container h2 {
    color: #e7e7e7;        
    margin-bottom: 28px;
}

.about-us-container p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #d4d4d4;
}

.live-recording {
    width:  16px;
    height: 16px;
    background-color: #f52525;
    border-radius: 50%;
}


.live-recording.live {
    animation: bgAnimation 2s infinite;
}

.radio-overlay {
    position: fixed;
    padding: 10px 0;
    background: #f22e2e;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
    border-top: 5px solid rgba(0, 0, 0, .3);
}

.radio-wrapper {
    width: 1420px;
    margin:0 auto;
}

.radio-button {
    cursor: pointer;
}

.radio-button.loading {
    opacity: .5;
}

.radio-text, .radio-slogan-text {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}

.slogan-small {
    font-size: 14px;
    font-weight: lighter;
    text-transform: none;
}

.radio-slogan-text {
    font-size: 18px;
    text-transform: uppercase;
    transform: rotate(-2deg);
}

.radio-button.loading {
    opacity: .5;
}

.radio-button.error {
    cursor: default;
    filter: blur(2px);
}

.radio-button.error .play-button {
    
}

.radio-button.loaded .radio-play-circle {
    cursor: pointer;
}

.radio-play-circle {
    position: relative;
    width: 42px;
    height: 42px;
    background: transparent;
    border-radius: 50%;
    border: 6px solid #fff;
}

.play-button {
    position: absolute;
    background: url('./play-button.svg');
    width: 15px;
    height: 15px;
    left: 50%;
    top:  50%;
    background-position: 2px center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    transform: translate(-50%, -50%);
}

.play-button.playing {
    background-image: url(./pause-button.svg);
    background-position: 0px center;
    width: 18px;
    height: 18px;
}

.slogan-mobile {
    font-size: 14px;
    font-weight: lighter;
}

.mobile-menu {
    display: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    /* background: #000000; */
    padding: 4px;
}

.mobile-menu .menu-button {
    width: 100%;
    height: 100%;
    background: url('./menu-icon.svg');
    background-position: center;
    background-size: contain;
    fill: #fff;
    filter: invert(1)
}

.footer {
    margin-bottom: 66px;
}

.about-us-container .story-section {
    margin-top: 33px;
}

.mobile-menu-drawer {
    position: fixed;
    
    --drawer-width: 240px;
    width: var(--drawer-width);
    left: calc(-1 * var(--drawer-width));
    top: 0;
    height: 100%;
    background: #121212;
    z-index: 999999999;
    user-select: none;
    transition: left 300ms ease-in-out;
}

.mobile-menu-drawer .menu-header {
    padding: 14px 12px 14px 22px;
}

.mobile-menu-drawer-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999999999;
}

.mobile-menu-drawer-overlay.active {
    visibility: visible;
}

.mobile-menu-drawer-overlay.active .mobile-menu-drawer {
    left: 0;
}

.mobile-menu-drawer-overlay .header-scrim {
    position: absolute;
    background: #000000a6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.mobile-menu-drawer-overlay.closing .mobile-menu-drawer {
    left: calc(-1*var(--drawer-width))!important;
}

.mobile-menu-drawer-overlay.active .header-scrim {
    opacity: 1;
}

.mobile-menu-drawer-overlay.closing .header-scrim {
    opacity: 0!important;
}



.mobile-menu-drawer .header-sections {
    overflow-y: scroll;
    height: 100%;
}

.mobile-menu-drawer .header-sections::-webkit-scrollbar {
    width: 6px!important;
    background-color: rgba(0,0,0,.1);
}

.header-sections-wrapper {
    padding-right: 2px;
    height: 100%;
}

.mobile-menu-drawer .header-sections::-webkit-scrollbar-thumb {
    background-color: rgb(225 225 225 / 11%);
}

.mobile-menu-drawer .header-sections:hover::-webkit-scrollbar {
    background-color: rgba(0,0,0,.3);
}

.mobile-menu-drawer .small-text
{
    font-size: 13px;
    color: #747474;
    font-weight: lighter;
}

.mobile-menu-drawer .hor-bar {
    margin: 12px 0;
    height: 1px;
    background: #383838;
}

/* Mobile Menu Drawer */
.mobile-menu-drawer .menu-section {
    padding: 0 12px 0 12px;
}

.mobile-menu-drawer .menu-items {
    padding: 0 6px 0 0;
}

.mobile-menu-drawer .mh-wrapper {
    padding: 0 0 0 13px;
}

.mobile-menu-drawer .menu-items .menu-item.active {
    font-weight: 600;
    background: #262626e8;
}

.mobile-menu-drawer .menu-items .menu-item .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    filter: invert(1);
    
}

.menu-icon.home {
    background-image: url('./mobile-header/home.png');
    background-size: 90%!important;
}

.menu-icon.podcast {
    background-image: url('./mobile-header/microphone.png');
}

.menu-icon.programs {
    background-image: url('./mobile-header/radio.png');
}

.menu-icon.contact {
    background-image: url('./mobile-header/group.png');
}

.mobile-menu-drawer .menu-items .menu-item {
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    font-weight: lighter;
}

.mobile-menu-drawer .menu-items .menu-item:hover:active {
    background: #363636e8;
}

.mobile-menu-drawer .menu-items .menu-item:hover {
    background: #262626e8;
}

.mobile-menu-drawer .menu-items .menu-item.active:hover {
    background: #363636e8;
}

.mobile-menu-drawer .menu-items .menu-item.active:active {
    background: hsla(0, 0%, 31%, 0.91);
}

.mobile-menu-drawer .live-image-wrapper {
    margin-left: 10px;
}

.mobile-menu-drawer .live-image {
    width: 80px;
    height: 32px;
    background: url('./live.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.live-image-wrapper.live .live-circle {
    animation: bgAnimation 2s infinite;
    opacity: 1;
    animation-delay: 200ms;
}

.mobile-menu-drawer .live-circle {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: #dd0c0c;
    opacity: .4;
}

.fc-audio-play-wrapper.playing .fc-audio-play-icon .fc-audio-play-icon-img {
    background-image: url('./icons/pause.svg');
    background-position: calc(50% + 1px) calc(50% + 0px);
}

.fc-audio-play-wrapper.error {
    filter: blur(2px)
}

.fc-audio-play-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.fc-audio-play-wrapper .fc-audio-play-icon {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #d53030;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.fc-audio-play-wrapper .fc-audio-play-icon .fc-audio-play-icon-img {
    position: absolute;
    background-image: url('./icons/play-button.svg');
    background-position: calc(50% + 3px) calc(50% + 0px);
    background-size: 43%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    filter: invert(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1240px) {
    .main-content {
        width: 960px!important;
    }
}

@media screen and (max-width: 1110px) {
    .logo-text {
        display: none;
    }

    .follow-us-wrapper {
        display: none;
    }

    .nav-bar {
        
    }

    .radio-text {
        font-size: 16px!important;
    }

    .radio-overlay {
        padding: 8px 0;
    }

    .slogan-image {
        height: 50px;
        width: 220px;
    }

    .header-wrapper {
        justify-content: left;
    }

    .image-slider {
        --factor: 4;
    }

    .main-content {
        width: 100%!important;    
    }

    .news-item-small {
        width: 100%;
        flex-shrink: 0;
    }


    .news-list.small-news {
        flex-wrap: wrap;
    }

    .pr-3 {
        padding: unset;
    }

    .top-news .news-item {
        border: none;
    }

    .text-container {
        padding: 16px 0 10px 12px;
        min-height: 80px;
    }

    .vertical-sep {
        height: 4px;
    }
}


@media screen and (max-width: 1500px) {
    .radio-wrapper {
        width: 100%!important;
        padding: 0 14px;
    }
    
    .header-wrapper {
        width: 100%;
    }

    .header-item {
        width: unset;
    }
}

@media screen and (max-width: 800px) {
    .cta {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        max-width: 320px;
        overflow: hidden;
    }

    .about-us-container {
        width: 100%;
        padding: 0 16px;
    }

    .live-recording {
        width: 14px;
        height: 14px;
    }

    .image-slider {
        margin-top: 66px;
    }

    .about-us-container h2 {
        margin-bottom: 14px;
        font-size: 20px;
        text-transform: uppercase;
        color: #dadada;

    }
    .about-us-container p {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 23px;
        font-weight: 300;
        color: #d3d3d3 !important;
    }

    .footer {
        margin-bottom: 58px;
    }

    .slogan.header-item {
       
    }

    .slogan-image {
        height: 34px;
        width: 223px;
    }

    .mobile-menu {
        display: block;
    }
    .radio-slogan-text {
        font-size: 14px!important;
        display: none;
    }

    section.news-section {
        padding-left: 0;
        padding-right: 0;
    }

    .slogan-small {
        font-size: 12px!important;
    }

    .radio-overlay {
        border-top: 5px solid rgba(0, 0, 0, .3);
        padding: 14px 0;
    }

    .radio-play-circle {
        width: 38px;
        height: 38px;
        border: 4px solid #fff;
    }

    .radio-text {
        font-size: 17px;
        margin-left: 14px;
        text-transform: uppercase;
    }

    .slogan-mobile {
        display: block;
        font-size: 14px;
    }

    .header-item {
        width: unset;
    }

    .nav-bar, .follow-us-text {
        display: none;
    }

    .header-wrapper {
        width: 100%;
        justify-content: left;
    }

    .image-slider {
        --factor: 3;
    }

    .header-section { 
        padding: 14px 12px;
    }

    .fc-audio-play-wrapper .fc-audio-play-icon {
        position: absolute;
        width: 44px;
        height: 44px;
    }
    
    .fc-audio-play-wrapper .fc-audio-play-icon .fc-audio-play-icon-img {
        background-size: 43%;
    }

    .fc-audio-play-wrapper.playing .fc-audio-play-icon .fc-audio-play-icon-img {
        background-image: url('./icons/pause.svg');
        background-position: calc(50% + .5px) calc(50% + 0px);
    }

    .over .overlay {
        background: unset;
        border: none;
        padding: 15px 0px 8px 0px;
    }
    
    .over .overlay .new.desc {
        margin-left: 0;
        margin-right: 0;
    }
}
